 /* 초기화 */
 * {
    margin: 0;
    padding: 0;
    font : normal 12px '돋움';
}
ul, ol {list-style: none;}
a {text-decoration: none; color: #111;}
input, textarea {outline: none;}



body {
    position: relative;
    background-image: url("images/header_bg.gif");
    background-repeat: repeat-x;
    width: 100%;
    height: 80px;
    box-sizing: border-box;
}
/* container */
#container {
    width: 1000px;
    height: 100%;
    box-sizing: border-box;
    margin: 0 auto;
}

#container > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

#container > header > .logo { 
    margin-bottom: 30px;
}

#container > header > ul {
    display: flex;
    list-style: none;
    margin-bottom: 15px;
    padding: 10px;
}
#container > header > ul > li > a{
    text-align: right;
    line-height: 32px;
    font-size: 17px;
    font-weight: bold;
    margin-left: 20px;
}
#container > header > ul > li > a:hover { 
    color: #7b231f;
}

#container > header > img {
    position: absolute;
    margin-top: 50px;
    display: block;
}
#container > header > .nav  {
    position: absolute;
    display: block; 
    margin-top: 50px;
    margin-left: 100px;
}

#container > header > .nav:hover {
    text-decoration: underline;
}

/*main*/

main {
    width: 1000px;
    height: auto;
    margin: 5px auto;
    overflow: hidden;
}
main > div {}
main > div > .banner{
    position: relative;
    float: left;
    width: 588px;
    height: 320px;
    border:1px solid #d7d7d7;
    box-sizing: border-box;
}

main > div > .banner > img:nth-child(1){
    position: absolute;
}
main > div > .banner > img:nth-child(2){
    position: absolute;
    margin-top: 100px;
    margin-left: 160px;
}

main > div > .call{
    position: relative;
    float: right;
    width: 406px;
    height: 133px;
    border:1px solid #d7d7d7 ;
    background-color: #f2f2f2;
    box-sizing: border-box;
}

main > div > .call >img:nth-child(1){
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
}
main > div > .call >img:nth-child(2){
    position: absolute;
    margin-top: 50px;
    margin-left: 20px;
}
main > div > .call >img:nth-child(3){
    position: absolute;
    margin-left: 30px;
    margin-top: 80px;
}
main > div > .call >img:nth-child(4){
    position: absolute;
    margin-left: 300px;
}

main > div > .qna{
    float: right;
    width: 406px;
    height: 182px;
    border:1px solid #d7d7d7 ;
    margin-top: 5px;
    box-sizing: border-box;
}

main > div > .qna > h3 {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 14px;
    font-weight: bold;
}
main > div > .qna > table {
    margin-left: 20px;
}

main > div > .qna > table tr td {
    color: #6a6a6a;
}

main > div > .qna > table tr td:nth-child(2){
    display: block;
    width: 310px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;

}
main > aside {
    float: left;
    width: 195px;
    height: 760px;
    margin-top: 5px;
    border:1px solid #d7d7d7 ;
    box-sizing: border-box;
}

main > aside > .notice {
    width: 100%;
    height: 204px;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
}
main > aside > article > h3 { font-weight: bold; font-size: 14px;}
main > aside > .notice > ul {
    margin-top: 6px;
}
main > aside > .notice > ul > li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
}

main > aside > .quick {
    padding: 10px;
}
main > aside > .quick > a {
    display: block;
    width: 100%;
    height: 34px;
    margin-top: 6px;
    border: 1px solid #d9d9d9;
    background-color: #f6f6f6;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

main > aside > .quick > a img {
    max-height: 100%;
    max-width: 100%;
}
main > aside > a {
    position: relative;
    left: -1px;
    display: block;
    width: 195px;
    height: 83px;
    margin-top: 4px; 
    border: 1px solid #999;
    box-sizing: border-box;
    overflow: hidden;
}
main > aside > a > img:nth-child(1) {position: absolute; float: right; left: 65px;}
main > aside > a > img:nth-child(2) {position: absolute;float: left; left: 10px ;top: 10px;}

main > aside >div {
    position: relative;
    border: 1px solid #999;
    margin-top: 6px;
}

main > aside > div > img:nth-child(1) {
    position: absolute;
}
main > aside > div > img:nth-child(2) {
    position: absolute;
    left: 163px;
}
main > aside > div > img:nth-child(3) {
    position: absolute;
    top: 30px;
    left: 10px;
}

main > aside > div > a img {
    position: absolute;
    top: 60px;
    left: 10px;
}

main > article {
    float: right;
    width: 800px;
    height: 250px;
    margin-top: 5px;
    border:1px solid #d7d7d7 ;
    box-sizing: border-box;
    padding: 15px;
}

main > article > h3{
    font-size: 14px;
    font-weight: bold;
}
main > article > img {
    float: right;
    margin-top : -15px;
}
main > article > ul {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 30px;
}
main > article > ul > li{
    float: left;
    width: 20%;
    height: 100%;
}
main > article > ul > li > a:nth-child(2){
    float: left;
    display: block;
    text-align: center;
}
main > article > ul > li >a img{
   float: left;
    width: 150px;
    height: 100px;
}
main > article:nth-child(1){}
main > article:nth-child(2){}
main > article:nth-child(3){}

/*footer*/
footer {
    width: 1000px;
    height: 130px;
    border: 1px solid #d7d7d7;
    border-top: 2px solid #999;
    box-sizing: border-box;
}
footer > img {
    padding: 10px;
}
footer > p {
    margin-left: 10px;
    color: #585858;
}
footer > p > span {
    display: block;
    margin-top: 6px;
    font-weight: bold; 
}

